amqp==5.0.6
asgiref==3.4.1
billiard==3.6.4.0
blessings==1.7
bpython==0.21
celery==5.1.2
certifi==2021.10.8
charset-normalizer==2.0.7
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
curtsies==0.3.10
cwcwidth==0.1.5
dj-database-url==0.5.0
Django==3.2.8
django-celery-results==2.2.0
django-debug-toolbar==3.2.2
Faker==9.7.1
flake8==4.0.1
flake8-builtins==1.5.3
flake8-django==1.1.1
flake8-import-order==0.18.1
flake8-print==4.0.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
kombu==5.2.0
mccabe==0.6.1
prompt-toolkit==3.0.22
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.10.0
python-dateutil==2.8.2
pytz==2021.3
pyxdg==0.27
redis==3.5.3
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
text-unidecode==1.3
urllib3==1.26.7
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.3.0
