{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

<!--кнопка и форма с кол-вом-->
<div class="container">
  <div class="row">
    <h2>{{ object.schema }} Data sets</h2>
    <div class="col-lg-8"></div>
    <div class="col-lg-1">Rows:</div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-success">Generate data</button>
      </form>
    </div>
  </div>
</div>
<!--конец кнопки-->

<!--основная таблица Тут будет цикл-->
<div class="container">
  <div class="row">
    <div class="col-lg-2">#</div>
    <div class="col-lg-2">Created</div>
    <div class="col-lg-3">Status</div>
    <div class="col-lg-3">Actions</div>
  </div>

  <div class="row">
    <div class="col-lg-2">{{ object.pk }}</div>
    <div class="col-lg-2">{{ object.created }}</div>
    <div class="col-lg-3">{{ object.status }}</div>
    <div class="col-lg-3"><a href="../../{{ object.url }}" download>Download</a></div>
  </div>

</div>
<!--конец основной таблицы-->

{% endblock %}