{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

<!--кнопка и форма с кол-вом-->
<div class="container">
  <div class="row">
    <h2>Data sets</h2>
    <div class="col-lg-8"></div>
    <div class="col-lg-1">Rows:</div>
    <div class="col-lg-1">500</div>
    <div class="col-lg-2">
      <form action="{% url 'data_gen' %}" method="get">
        <button type="submit" class="btn btn-success">Generate data</button>
      </form>
    </div>
  </div>
</div>
<!--конец кнопки-->

<!--основная таблица Тут будет цикл-->
<div class="container">
  <div class="row">
    <div class="col-lg-2">#</div>
    <div class="col-lg-3">Created</div>
    <div class="col-lg-3">Status</div>
    <div class="col-lg-4">Actions</div>
  </div>
  {% for instance in object_list %}
  <div class="row">
    <div class="col-lg-2">{{ instance.pk }}</div>
    <div class="col-lg-3">{{ instance.created }}</div>
    <div class="col-lg-3">{{ instance.status }}</div>
    <div class="col-lg-4"><a href="../{{ instance.url }}" download>Download</a></div>
  </div>
  {% endfor %}
</div>
<!--конец основной таблицы-->

{% endblock %}