div {
    #border: solid 3px black;
    margin: 0 auto;
}

.login {
    border: solid 1px darkgrey;
    margin: 11% auto;
    padding: 50px;
}

.login_but {
    margin-left: 80%;
}

.container div {
    #border: solid 2px green;
}

.row div {
    #border: solid 2px red;
    height: 60px;
}

form div {
    height: 120px;
    color: red;
}