{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<!--кнопка и форма с кол-вом-->
<div class="container">
  <div class="row">
    <h2>Data Schemas</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
      <form action="{% url 'new_schema' %}" method="get">
        <button class="btn btn-success">New Schema</button>
      </form>
    </div>
  </div>
</div>
<!--конец кнопки-->

<!--основная таблица Тут будет цикл-->
<div class="container">
  <div class="row row-cols-auto">
    <div class="col-lg-1">№</div>
    <div class="col-lg-5">Title</div>
    <div class="col-lg-3">Modified</div>
    <div class="col-lg-3">Actions</div>
  </div>
  {% for instance in object_list %}
  <div class="row row-cols-auto">
    <div class="col-lg-1">{{ instance.id }}</div>
    <div class="col-lg-5">{{ instance.name }}</div>
    <div class="col-lg-3">{{ instance.modified }}</div>
    <div class="col-lg-3">
      <a href="{% url 'upd_schema' instance.id %}">Edit</a>
      <a href="{% url 'dlt_schema' instance.id %}">Delete</a>
    </div>
  </div>
  {% endfor %}
</div>
<!--конец основной таблицы-->

{% endblock %}
